{% extends 'base.jinja' %}

{% block content %}
<h1>Orders</h1>

<p class="button_wrapper">
    <a class="new_order_button" href="/itemorders/new">Place New Order</a>
</p>


{# there is an issue somewhere in here #}
<ul>
    {% for itemorder in itemorders %}
    <li>
        <p>{{ itemorder.order.customer }}: {{ itemorder.item.item_name }} </p>
        <p>
        <form action="itemorders/{{ itemorders.id }}/delete" method="POST">
            <input class="itemorder_delete" type="submit" value="Delete Order">
        </form>
        </p>
    </li>
    {% endfor %}
</ul>


{# there is an issue somwhere in here #}

<div>

</div>

{% endblock %}