{% extends 'base.jinja' %}

{% block content %}
<h1>Orders</h1>



{% for itemorder in itemorders %}
    <p> {{ itemorder.order.customer }} : {{ itemorder.order.item_name}}</p>
{% endfor %}


{% endblock %}