{% extends 'base.jinja' %}

{% block content %}
<h1> Add New Order</h1>

<form action="/itemorders" method="post">
    <label for="order">Select Customer:</label>
        <select name="order_id" id="order">
            {% for order in orders %}
            <option value="{{ order.id }}">{{ order.customer }}</option>
            {% endfor %}
        </select>

    <label for="item">Select Items:</label>
        <select name="item_id" id="item">
            {% for item in items %}
            <option value="{{ item.id }}">{{ item.item_name }}</option>
            {% endfor %}
        </select>
    <input class="new_order_button" type="submit" value="Place New Order">
</form>

{% endblock%}