{% extends 'base.jinja' %}

{% block content %}
<h1> {{ customer.customer }} </h1>

{{ customer.phone_number }}
{{ customer.email }}

<ul>
    {% for order in customer.orders %}
    <li>{{ order.item.item_name }}</li>
    {% endfor %}


    {% for item in items %}
    <li>{{item.item_name}}</li>
    {% endfor %}
</ul>



{% endblock %}