body {
    font-family: 'Poppins', sans-serif;
    color: #19233e;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav>ul {
    list-style-type: none;
    /* display: inline; */
    text-align: left;
    

}
nav>ul>li {
    display: inline;
    padding: 10px;

}

.navbar {
    text-align: center;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h1>a {
    text-decoration: none;
    color: #19233e;
}

a:visited {
    color: #19233e;

}

a:hover {
    color: darkmagenta;
}

