body {
    font-family: 'Poppins', sans-serif;
    color: #19233e;
}

nav>ul {
    list-style-type: none;
    display: inline;
    

}
h1 {
    text-align: center;
    color: blue;
}

h1>a {
    text-decoration: none;
    color: #19233e;
}

a:visited {
    color: #19233e;

}

a:hover {
    color: darkmagenta;
}