<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bakery Order Tracker</title>
         {# nav bar goes here --> orders, items, customers(?) & their links (hrefs) # #}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <main>
    <h1>Bakery Order Tracker</h1>
        <nav>
            <ul>
                <li><a href="/items">Items</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/itemorders">Item Orders</a></li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>

</html>


