<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bakery Order Tracker</title>
         {# nav bar goes here --> orders, items, customers(?) & their links (hrefs) # #}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/customers.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/items.css') }}">
        {# <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}"> #}
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    </head>
<body>
    <main>
    <h1><a href="/">Bakery Order Tracker</a></h1>
        <nav>
            <ul class="navbar">
                <li><a href="/items">Items</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/orders">Orders</a></li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>

</html>


