<!DOCTYPE html>
<html>
    <head>
        <title>Bakery Order Tracker</title>
         {# nav bar goes here --> orders, items, customers(?) & their links (hrefs) # #}
        
    </head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/items">Items</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/itemorders">Item Orders</a></li>
            </ul>
        </nav>
    </main>
</body>

</html>
