{% extends 'base.jinja' %}

{% block content %}
<h1> Customers </h1>

{# NEED TO ADD ORDER TO THIS SECTION #}
<form name="add_customer" action="/orders" method="post">
    <label for="customer">Customer</label>
        <input type="text" name="customer" id="customer" required="yes"/>
    <label for="phone_number">Phone number</label>
        <input type="text" name="phone_number" id="phone_number"/>
    <label for="email">Email</label>
        <input type="text" name="email" id="email" required="yes"/>
    <input type="submit" value="Add Customer">
</form>


<p> 
<div class="customer-container">
    <div class="grid-header">Name</div>
    <div class="grid-header">Phone Number</div>
    <div class="grid-header">Email</div>
    <div class="grid-header">Order</div>
    {% for order in orders %}
    <div class="grid-item"><a href="/orders/{{ order.id }}">{{order.customer}}</a></div>
    <div class="grid-item"><a href="/orders/{{ order.id }}">{{order.phone_number}}</a></div>
    <div class="grid-item"><a href="/orders/{{ order.id }}">{{order.email}}</a></div>
    <div class="grid-item"><a href="/orders/{{ order.id }}">{{order.itemorders}}</a></div>
    {% endfor %}
{# <a href="/orders/{{ order.id }}"> {{order.customer}}, {{order.phone_number}}, {{order.email}}, {{order.itemorders}}</a> #}
</div>
</p>
{% endblock %}