{% extends 'base.jinja' %}

{% block content %}
<h1> Order #{{ order.id }}</h1>


{# none of this is working #}
<ul>
    {% for order in orders %}
        <li>{{ order.item.item_name }}</li>
    {% endfor %}
</ul>
{#  #}


<p>Customer: {{order.customer.customer}}<p>
 <p>ID: # {{order.customer_id}}</p>
 {# need to work on seeing the items in the order --> backref #}
<p>Items: Need to fix later{{order.item}}</p> {# not currently showing item#}
{% endblock %}