{% extends 'base.jinja' %}

{% block content %}
<h1> Order #{{ order.id }}</h1>

<ul>
    {% for order in orders %}
        <li>{{ order.item.item_name}}</li>
    {% endfor %}
</ul>
<h3>Customer Details</h3>
    <p>
        {# {{order.customer_id.customer.customer}}  #}
        {# the above line is the problem child #}
    </p>

{% endblock %}