{% extends 'base.jinja' %}

{% block content %}
<h1>Items</h1>
<p>
{% for item in items %}

{{item.item_name}}: £{{item.price}}
{# <a href="/items/{{ item.id }}"> {{item.item_name}}: £{{item.price}}</a> #}
{% endfor %}
</p>

{% endblock %}
